h1{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: xx-large;
}
body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Fleet_5_nations.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family:cursive;

}

tr,td,th{
    background-color: rebeccapurple;
    border-color: black;
    border-style: double;

    height: 25px;
    width: 25px;   

}


.tablePosition{
    display:flex;
    justify-content: center;
    align-items: center;
}

#empty{
    background-color: grey;
    border-style: none;
    font-size: small;
    margin: 0%;
}

td{
    width: 50px;   
    height:50px;
}
td:hover{
    cursor: pointer;
}
