h1{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: xxx-large;
}
body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Fleet_5_nations.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family:cursive;

}

tr,td,th{
    background-color: rebeccapurple;
    border-color: black;
    border-style: double;

}
table{
    width: 90%;
}

.tablePosition{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.empty{
    background-color: grey;
    border-style: none;

}
